@keyframes pulse {
  0% {
    background-color: #fff; 
    color: #000; 
  }
  50% {
    background-color: #ffcc00; 
    color: #fff; 
  }
  100% {
    background-color: #fff; 
    color: #000; 
  }
}

.Kacey-button {
  background-color: #fff; 
  color: #000; 
  border: none;
  padding: 30px 60px; 
  font-size: 2em; 
  cursor: pointer;
  outline: none;
  animation: pulse 1.5s infinite;
}

.Kacey-button:hover {
  background-color: #ffcc00; 
  color: #fff; 
}
